<div class="card shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" src="{{ ProductItem.img }}"/>
  <div class="card-body">
    <p class="card-text">
      <strong class="text-muted"> {{ProductItem.precio | currency:"COP"}}  </strong>
    </p>
    <p class="card-text">{{ ProductItem.nombre | slice: 0:80 }}</p>
    <!--<audio src="" class="Audio_control" controls></audio> <!--Por Confirmar-->
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="submit" (click)='AgregarProductos()' class="btn btn-sm btn-outline-primary btn_A_producto" >Agregar a Carrito</button>
        <button type="button" class="btn btn-sm btn-outline-secondary btn_B_producto">Texto</button>
      </div>
    </div>
  </div>
</div>
