
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators" >
    <button type="button"
    data-bs-target="#carouselExampleCaptions"
    attr.data-bs-slide-to="{{pos}}"
    [ngClass]="pos == 0 ? 'active': ''"
    aria.current="true"
    attr.aria-label="{{pos + 1}}" *ngFor="let carrou of Carousel; let pos = index">
  </button>
  </div>
  <div class="carousel-inner">
    <div [ngClass]="pos == 0 ? 'active carousel-item active':'carousel-item'" *ngFor="let carrou of Carousel;let pos=index">
      <img src="{{carrou.img}}" class="img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="font-monospace text-primary">{{carrou.descripcion}}</h2>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<!--<video src="/assets/img/Avicii-WakeMeUp(OfficialVideo)(1080P_HD).mp4" autoplay="True" ></video>-->
<img class="Fondo" src="/assets/img/audience-1853662_1920.jpg" alt="">
<audio src="/assets/img/Wake_Me_Up.mpeg" autoplay="True "></audio>

<div class="text-bg-dark p-3 mt-4 mb-4 container text-center font-monospace"  data-aos="fade-up">
  <h3>¿Quienes somos?</h3>
  <p>Masive Club es una tienda de musica la cual tiene una misión y es la de proporcionar los mejores instrumentos musicales con la más alta calidad y precios accesibles, para satisfacer a nuestros clientes. Queremos que estén satisfechos con nuestros productos y servicios.
  Brindaremos un mejor sonido y diseños innovadores para que tanto niños, jóvenes y adultos tengan acceso a productos que estén a la vanguardia.
  </p>
  <img src="/assets/img/turntable-1337986__480.webp" class="" alt="...">
</div>

<br>

<div class="text-bg-dark container text-center mt-4 font-monospace" data-aos="">
  <div>
    <div class="row">
      <div class="col">
        <h6>Envios a nivel nacional</h6>
        <a href="#"><i class="bi bi-truck"></i></a>
      </div>
      <div class="col">
        <h6>Formas de pago</h6>
        <a href="#"><i class="bi bi-credit-card-2-front"></i></a>
      </div>
      <div class="col">
        <h6>Necesitas ayuda?</h6>
        <a href=""><i class="bi bi-chat-square-text-fill"></i></a>
      </div>
    </div>
  </div>
</div>

<br>


<footer class="py-5 text-bg-dark">
    <div class="row">

      <div class="col-6 col-md-2 mb-3">
        <h5>Redes Sociales</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
            <i class="bi bi-facebook"></i>
          </a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
            <i class="bi bi-instagram"></i>
          </a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
            <i class="bi bi-twitter"></i>
          </a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>¿Tienes problemas?</h5>
          <p>Escribes tu Email para poder comunicarnos contigo</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden"></label>
            <input id="newsletter1" type="text" class="form-control Email " placeholder="Email address">
            <button class="btn btn-outline-danger Btn_Email " type="button">Enviar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="Derechos_Autor">&copy; 2022 MasiveClub, Todos los derechos reservados</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a  href=""><svg class="bi logo_A" width="24" height="240"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a  href=""><svg class="bi Logo_B" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a  href=""><svg class="bi Logo_C" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>

