<div class="card Filtro">

  <div class="card-header strong">
    <strong>Filtro de Busqueda</strong>
  </div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="from">Texto de prueba</label>
        <input type="number" id="from" class="form-control form_A">
      </div>

      <div class="form-group">
        <label for="to">Texto de prueba</label>
        <input type="number" id="to" class="form-control form_B">
      </div>

      <button class="btn btn-primary btn-block btn-sm btn_buscar" >Buscar</button>
    </form>
  </div>
</div>


